<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
</body>
    <p style="color:red;">{{.ClientMsg}} </p>
    <p>{{.Item.Item_Name}} details</p>
    <p>{{.Item.Item_Price}}</p>
    <p>{{.Item.Calories}}</p>
    <p>{{.Item.Fats}}</p>
    <p>{{.Item.Sugar_Level}}</p>
</body>
</html>