<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<h1>Create New Account</h1>
<h3>Enter the following to create a new account</h3>
<form method="post">
<ul>
    <li>Email_Id: <input type="text" name="emailid"></li> 
      <li>Password: <input type="text" name="password"></li> 
      <li>First_Name: <input type="text" name="firstname"></li> 
      <li>Last_Name: <input type="text" name="lastname"></li>
      <li>Age: <input type="text" name="age"></li>
      <li><input type="submit">
      </ul>
</form>

</body>
</html>